<div class="container mx-auto mt-3">

  <main>
    <div class="row">
      <div class="col-md col-lg">
        <h4 class="mb-3" style="text-align: center;">Formulario de contacto</h4>
        <hr>
        <form class="needs-validation" novalidate>
          <div class="row mx-auto">
            <div class="col-sm-8 mx-auto mt-3">
              <label for="firstName" style="white-space: none;" class="form-label"
                style="font-weight: bolder;">Nombre</label>
              <input type="text" [(ngModel)]="nombre" name="nombre" class="form-control" id="nombre" placeholder="Nombre y apellido" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>

            <div class="col-sm-8 mx-auto mt-3">
              <label for="lastName" class="form-label" style="font-weight: bolder;">Email</label>
              <input type="text" [(ngModel)]="email" name="email" class="form-control" id="cif"
                placeholder="ejemplo@dominio.com" required>
            </div>

            <div class="col-sm-8 mx-auto mt-3">
              <label for="lastName" class="form-label" style="font-weight: bolder;">Mensaje</label>
              <textarea class="form-control" [(ngModel)]="mensaje" name="mensaje" id="exampleFormControlTextarea1"
                rows="3"></textarea>
              <!-- <input type="text" [(ngModel)]="mensaje" name="mensaje" class="form-control" id="direccion" placeholder="" -->
              <!-- required> -->
            </div>

            <div class="col-sm-8 mx-auto mt-3">
              <label for="country" class="form-label" style="font-weight: bolder;">2 + 3 = ?</label>
              <input type="form-control" [(ngModel)]="respuesta" name="respuesta" value="0" id="form6Example4" class="form-control" placeholder="Respuesta" />
                <button class="w-20 btn btn-primary btn-lg mt-5" (click)="save_person()" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

</div>

<router-outlet></router-outlet>

<app-listado-personas [array]="array_persona"></app-listado-personas>
